{% extends 'mi_app/padre.html' %}

{%block Cuerpo%}

<div class="margen" >
    <img class="d-block mx-auto mb-4" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_240/public/2020-11/purina-adopta-perros-en-adopci%C3%B3n.png?itok=tD2E0Rq1" alt="" width="140" height="140">
    <h2 class="margen1">Borrar el Usuario</h2>
    <p class="lead"><b>Aqui puede borrar su usuario. Pienselo bien porque no podra recuperarlo luego de esta accion .</b></p>
        
</div> 


<div class="form2">

     

    <table>
    
        <form method="post">{% csrf_token %}

            ¿Estas dseguro que desea borrar el usuario " {{ object }} "?

            <input type="submit" value="submit"/>

        </form>
 
        <p>
            <a href="{% url 'userlist' %}">Regresar</a>
        </p>

    </table>
        
            
</div>

{% endblock %}