{% extends 'mi_app/padre.html' %}

{%block Cuerpo%}

<div class="margen" >
    <img class="d-block mx-auto mb-4" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_240/public/2020-11/purina-adopta-perros-en-adopci%C3%B3n.png?itok=tD2E0Rq1" alt="" width="140" height="140">
    <h2 class="margen1">Elegir un avatar</h2>
    <p class="lead"><b>Completa el campo requerido con la imagen(.png) que desea utilizar como avatar.</b></p>
        
</div> 

<div class="form2">

    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    
        <ul>

            <table>
        
                {{ miFormulario.as_p }}
        
            
            </table>
        
            <input type="submit", value="Actualizar">
        
        </ul>  
        
    </form>

{% endblock %}