{% extends 'mi_app/padre.html' %}

{%block Cuerpo%}

<div class="margen" >
    <img class="d-block mx-auto mb-4" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_240/public/2020-11/purina-adopta-perros-en-adopci%C3%B3n.png?itok=tD2E0Rq1" alt="" width="140" height="140">
    <h2 class="margen1">¡Transitantes Activos!</h2>
    <p class="lead"><b>Aqui podemos observar la lista de personas que presentaron formulario de transito.</b></p>
        
</div> 


<div class="form2">

    
    <p>Username : {{ user.username }}</p>
    <p>Apellido: {{ user.last_name}}</p>
    <p>Edad: {{ user.first_name }}</p>
    <p>Email: {{ user.email }}</p>
    

    <p>
        <a href="{% url 'userlist' %}">Regresar</a>
    </p>
  
    
</div>
{%endblock%}