{% extends 'mi_app/padre.html' %}



{%block Cuerpo%}



<body class="text-center">
   
  <main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_240/public/2020-11/purina-adopta-perros-en-adopci%C3%B3n.png?itok=tD2E0Rq1" alt="" width="120" height="100">
      <h1 class="h3 mb-3 fw-normal">Ingresar Usuario</h1>
  
      <div class="form-floating entrada">
        <input type="email" class="form-control entrada" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput"> Ingresar Email</label>
      </div>
      <div class="form-floating entrada">
        <input type="password" class="form-control entrada" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword"> Ingresar Contraseña</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recordar Cuenta
        </label>
      </div>
      
      <div class="form-floating entrada">
        <div class="col-md-3 text-end">
            <div class="form-group">
                <a href="http://127.0.0.1:8000/inicio/">
                <button type="button" class="w-100 btn btn-lg btn-primary hola" type="submit">Entrar</button>
                </a>
       
            </div>
        </div>
    </div>
      
      <p class="mt-5 mb-3 text-muted">© 2010–2022</p>
    </form>
  </main>
       
  
  
</body>


{% endblock %}