{% extends 'mi_app/padre.html' %}

{% block Cuerpo %}

<p>Recuperar contraseña</p>

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form>
            <div class="form-floating entrada">
                <div class="col-md-10 col-md-offset-2">
                    <div class="form-group">
                        <label >Email</label>
                        <input class="form-control" type="text" name="email">
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <a href="http://127.0.0.1:8000/passwordResetDone/" class="btn btn-sm btn-outline-secondary">Enviar enlace de reestablecimiento de contraseña </a>
                
              </div>
        </form>
    </main>
</body>

{% endblock %}