{% extends 'mi_app/padre.html' %}

{%block Cuerpo%}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_240/public/2020-11/purina-adopta-perros-en-adopci%C3%B3n.png?itok=tD2E0Rq1" alt="" width="140" height="140">
    <h2>Formulario Pre-Adopción</h2>
    <p class="lead" style="color: green;">Hemos recibido tu donacion con éxito.!Muchas gracias de corazon por darnos UNA PATA¡</p>
</div>


{% endblock %}