{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">ANUBIS EN ADOPCIÓN 🤴🏽 <span class="text-muted"></span></h2>
      <p class="lead">A él lo rescatamos en la ciudad. Estaba dando vueltas sin rumbo. Nos contactamos con una persona que lo conocía y nos dijo que sus dueños querían darlo en adopción 😔

Es un bebote hermoso de tan solo un año. Ya fue castrado y esta listo para encontrar a su familia 🏡

Por lo poco que lo conocemos vimos que con los perros y las personas se lleva bien. No sabemos como es con niños o con gatos 🐱

Buscamos una familia con espacio y conocimiento de la raza 🫶🏻 Si querés sumar a este bebote a tu manada completa el formulario de pre-adopción  🐾.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>
{%endblock%}