{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">PRESENTAMOS NUEVAMENTE A CANELA <span class="text-muted"></span></h2>
      <p class="lead">Ella es una gorda hermosa de aproximadamente unos 2 años, es tamaño mediano, súper buena, compañera y amigable 😍

        Está desparasitada, castrada y vacunada 😌
        
        Nos apena muchísimo que, desde que creamos la cuenta, nadie nos preguntó por ella 😓 no llegó ni un solo formulario por ella
        
        Sabemos que no tiene buenas fotos, ya que quién la transita es una señora mayor que no puede sacarle, pero es una perra divina que se merece encontrar la familia que siempre le faltó 💔 tampoco tuvo contacto con otros animales
        
        Por eso, volvemos a dejar el formulario de pre-adopción 📝 para que lo llenes en caso de que quieras darle ese hogar que tanto anhela 🏡🐾.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>
{%endblock%}