{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">PRESENTAMOS A CARL FORMALMENTE <span class="text-muted"></span></h2>
      <p class="lead">Es un perro chiquito de tan solo meses, que creemos que fue abandonado en la ciudad, ya que ningún vecino lo reclamó aún 😕

        Estaba pasando mucho frío, por lo que Juana, una chica del grupo lo levantó y le dio resguardo 💘
        
        Se lleva con otros animales, y también hace en las piedritas! ☺️
        
        Estamos juntando plata para llevarlo al veterinario, ya que nos desbordan los perros y los números bajan cada vez más $$ 😬
        
        Si todo sale bien, vamos a empezar a desparasitarlo y, vacunarlo, para poder ponerlo en adopción 📝
        
        Ayudanos con sus gastos! Con un granito de arena cada uno, podemos transformarle la vida a un animalito abandonado 🥹 🐾.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ8YkfCx4rRP7i4yfJ3Tr_FL0fvqIcgpGLRw&usqp=CAU" alt="" srcset="" width="100%" height="225"></svg>

    </div>
  </div>
{%endblock%}