{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">BUSCAMOS TRÁNSITO URGENTE PARA CHOCOLATE (sin animales, el lunes se queda sin tránsito, todos los gastos cubiertos) <span class="text-muted"></span></h2>
      <p class="lead">TAMBIÉN ESTÁ EN ADOPCIÓN 🥹

        ¿Se acuerdan de ella? ¿La perra que estuvo 2 días vagando por la ciudad con el bozal puesto?
        
        Bueno, después de mucho amor por parte de su transitante, visita al veterinario y castración, hoy, busca un nuevo hogar 🥰
        
        Debe tener aproximadamente unos 4/5 años, es muy miedosa, estamos tratando de conseguirle un adiestrador ☺️ ya que, necesita muchísima confianza para estar con personas nuevas
        
        Ya está castrada y con una cremita para algunas zonas heridas en su piel 🤩
        
        Preferentemente buscamos una casa con personas grandes que sepan que la adaptación no es fácil, y que puedan brindarle la seguridad y amor que le faltó 🥹
        
        Si te interesa sumarla a tu familia, no dudes en pedirnos el formulario de pre-adopción 📝
        
        Ella se merece otra oportunidad, qué tal si se la das? Podés cambiar su forma de mirar el 🌎 para siempre
    </div>
    <div class="col-md-5 order-md-1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBa7IFkhBokm0ziZd-3wqV8m6W0vAIu9KuGw&usqp=CAU" alt="" srcset="" width="100%" height="400">

    </div>
  </div>
{%endblock%}