{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">BIENVENIDO LUCAS  A POR UNA PATA. <span class="text-muted"></span></h2>
      <p class="lead">Tiburoncin es un cachorro de tan solo tres meses que estuvo varios días dando vueltas por un predio 😔

        No sabemos si tiene dueños o lo abandonaron 😑 Si no aparecen en unas semanas lo pondremos en adopción.
        
        Hoy lo llevamos al vete y comenzó con el desparasitante. En líneas generales se lo encontró bien. Si sigue así, en unas semanas lo podemos vacunar.
        Se lleva bien  con todos 😁
        
        Les pedimos ayuda para cubrir sus gastos y para encontrar a su familia 😊 MAXIMA DIFUSIÓN 🙏  🐾.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ8YkfCx4rRP7i4yfJ3Tr_FL0fvqIcgpGLRw&usqp=CAU" alt="" srcset="" width="100%" height="400">

    </div>
  </div>
{%endblock%}