{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">OSITO BUSCA FAMILIA  <span class="text-muted"></span></h2>
      <p class="lead">Es un perro de un año, tamaño mediano muy pero muy compañero, fiel y bueno ❣️

        Ya está desparasitado y castrado, es próximo a ser vacunado 💉 necesitamos juntar la plata para costearlo!
        
        Se lleva bien con otros animales y en especial con niños y personas en general 🥰 no te mentimos cuando decimos que es demasiado compañero 
        
        Puede ser tu bebote para cucharear en las noches de invierno, tu copiloto de viajes largos y hasta tu cita 😝
        
        No dudes en pedirnos el formulario de pre-adopción 📝 si te interesa darle tu corazón y hacerlo parte de tu hogar 🏡.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEWODBrd6GbYuZcCGRQUuxVVvzcWOx9Iru8Q&usqp=CAU" alt="" srcset="" width="100%" height="400">

    </div>
  </div>
{%endblock%}