{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">ACTUALIZACIÓN DE PANTUFLA  <span class="text-muted"></span></h2>
      <p class="lead">Como ya saben, Pantu es la mamá de los 4 cachorros, Alma, Noble, Esperanza y Paz Thor (lamentablemente estos dos últimos murieron), y a su vez, la mamá nodriza de Milagros 💕

        Es una perra de unos 2/3 años, que fue levantada del predio de Padre Tano, de dónde salieron Barbas, Magnolia, etc. 😕
        
        Es súper buena, se lleva re bien con otros animales, niños y te roba el corazón 😍 es una perra ideal
        
        Está castrada y desparasitada, y la mejor noticia de todas es que.. 😌
        
        ¡FUE ADOPTADA! 🥰
        
        Si, como leen, aún sin haber sido publicada, no queríamos dejar de actualizar su evolución, y si, fue felizmente adoptada por una familia la cual ya le entregaron hasta el apellido 🤭
        
        Ayudanos a seguir transformando finales así de felices! 🐶</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu3ch_8v06wZdOVCHblp7ziHhYRYKbccj9MQ&usqp=CAU" alt="" srcset="" width="100%" height="400">

    </div>
  </div>
{%endblock%}