{% extends 'mi_app/padre.html' %}


<!--contenido-->
{%block Cuerpo%}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">RUBIO Y ROMA EN ADOPCION<span class="text-muted"></span></h2>
      <p class="lead">Estos dos hermanos buscan un hogar 🏡 donde los mimen y amen con todo el alma 🥹

        Preferentemente buscamos una adopción conjunta, ya que son muy apegados y, desde tan chiquitos, sufrieron la crueldad inhumana y perdieron a sus otros 3 hermanos 😭
        
        Es nuestro deseo que estos 2 hermanitos no se separen nunca, ojalá se cumpla 💘
        
        Ellos tienen aproximadamente 2 meses, están terminando sus dosis de antiparasitario y ya tienen la primer vacuna (quíntuple) ☺️ desconocemos su tamaño a futuro, pero creemos que van a ser chiquitos
        
        Se llevan con otros perros y con niños también 🧑🏻‍🤝‍🧑🏽
        
        Les encanta jugar juntos, son muy compañeros y te reciben con una felicidad increíble 🤩 son tal para cual y creenos que te van a alegrar la vida, y vos a ellos también 💕 
        
        Se entregan con seguimiento de por vida y compromiso de castración 😌
        
        Pedinos el formulario de pre-adopción 📝 si te interesa adoptar a uno, o a los dos! .</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIFLDgAu4KTbfhesJ7XblNMK6S0a6KC1z0LQ&usqp=CAU" alt="" srcset="" width="100%" height="350">

    </div>
  </div>
{%endblock%}